/* line 1, ../../../../Sass/menu.scss */
.margincontent a.btn {
  border: none;
  display: block;
  font-weight: bold;
  margin-bottom: -13px;
  padding: 10px 0 12px 11px;
  text-align: left;
  text-decoration: none;
  padding-left: 18px;
  border-left: .29em solid #CCC;
  transition: all .2s ease;
  font-family: "Ubuntu",sans-serif;
  color: #292929;
  border-left: .29em solid #CCC;
  font-weight: normal;
  height: 1.25em; }

/* controls hover state for department menu buttons */
/* line 20, ../../../../Sass/menu.scss */
.margincontent a.btn:hover {
  color: #C60C00;
  background-color: transparent;
  border-left: 6px solid #C60C00; }

/* used to position departmental menu for responsive menu */
/* line 27, ../../../../Sass/menu.scss */
.csm-hozrule {
  margin: 0; }

/* line 31, ../../../../Sass/menu.scss */
.csm-menu-ul {
  font-size: 1.04em;
  list-style: none;
  margin: 0px;
  padding: 0px; }

/* department menu level 1 list */
/* line 39, ../../../../Sass/menu.scss */
.csm-menu-lvl1-list {
  color: #666;
  list-style: none;
  padding: .2em 0em; }

/* first list item in department menu level 1 list */
/* line 46, ../../../../Sass/menu.scss */
.csm-menu-lvl1-list:first-child {
  margin-top: 3.1em; }

/* department menu list link styles */
/* line 51, ../../../../Sass/menu.scss */
a.csm-links {
  color: #000;
  display: block;
  position: relative;
  text-align: left;
  text-decoration: none;
  border-left: .29em solid #CCC;
  list-style: none;
  padding: 4.19999980926514px 0px 1.39999997615814px 15px;
  font-weight: normal; }

/* line 63, ../../../../Sass/menu.scss */
.csm-menu-lvl1-list a span {
  padding-left: 1px; }

@media all and (max-width: 1034px) and (min-width: 300px) {
  /* line 68, ../../../../Sass/menu.scss */
  .menu-contact-box {
    display: none; } }
